:root {
  --primary-beaver: #9e7f66;
  --primary-cod-gray: #111111;
  --secondary-mirage: #17192b;
  --secondary-ebony-clay: #242b37;
  --secondary-shuttle-gray: #5c6779;
}

.App {
  font-family: 'League Spartan';
}

.home-hero {
  background-image: url("../public/assets/homepage/hero-bg-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.home-text {
  color: white;
  padding-left: 10rem;
  max-width: 50%;
}

.home-header {
  font-weight: 250;
  font-size: 80px;
  letter-spacing: -1px;
  line-height: 1;
  padding-top: 15rem;
  margin-bottom: 1rem;
}

.home-description {
  font-size: 20px;
  padding-bottom: 1rem;
}

.book-button {
  padding: 1rem 3rem;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 2.5px;
  background-color: var(--primary-cod-gray);
  border: 0.12px solid white;
  color: white;
}

.book-button-row {
  width: 15rem;
  padding-bottom: 15rem;
}

.book-button:hover {
  background-color: white;
  color: black;
}